@using AudioStore.ViewModel.Cart
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
	var session = HttpContextAccessor.HttpContext.Session;
	string jsoncart = session.GetString(AudioStore.Controllers.CartController.CARTKEY);

	var user = session.GetString("user");
	var userName = session.GetString("userName");
	var cartLength = 0;

	if (jsoncart != null)
	{
		var cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
		cartLength = @cart.Count;
	}
	 
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>@ViewData["Title"] - AudioStore</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/style.css" />
	@* <link type="text/css" rel="stylesheet" href="~/css/scrollTop.css" /> *@

	<!-- Sweet Alert -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				@if (user == null)
				{
					<ul class="header-links pull-left">
						<li><a href="#">Welcome to <strong>AudioStore!</strong></a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="/account/login"> Login</a></li>
						<li><a href="/account/register"> Register</a></li>
					</ul>
				}
				else
				{
					<ul class="header-links pull-left">
						<li><a href="">Hello <strong>@userName!</strong></a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="/user" ><i class="fa fa-user-o"></i> My profile</a></li>
						<li>
							<a id="logout-button" style="cursor: pointer;" onclick="logout()">
								Logout
							</a>
						</li>
					</ul>
				}
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/" class="logo">
								<img src="~/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							
							@using (Html.BeginForm("IndexStore", "Product", FormMethod.Get)){
								
								@Html.TextBox("searchString",ViewBag.CurrentFilter as string, new{@class="input",@placeholder="Search here"})
								@* <input class="input" placeholder="Search here"> *@
								<button class="search-btn">Search</button>
							}
								
							
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Cart -->
							<div class="cart">
								<a class="cart-item" href="/cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<div class="" id="count-item-cart"></div>
								</a>
							</div>
							<!-- /Cart -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Audio Store is a project of Csharp subject. Developed by Team 3 in class SE1601. Mentor
								is HuongLH</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i> Cầu Rau Răm, đường Nguyễn Văn Cừ Nối
										Dài, An Bình, Ninh Kiều, Cần Thơ, Việt Nam</a></li>
								<li><a href="#"><i class="fa fa-phone"></i> 0396384095</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i> AudioStore@gmail.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="#">Hot deals</a></li>
								<li><a href="#">Laptops</a></li>
								<li><a href="#">Smartphones</a></li>
								<li><a href="#">Cameras</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="#">My Account</a></li>
								<li><a href="#">View Cart</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Track My Order</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="#">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- SCROLL TO TOP BUTTON -->
	<button title="Go to top" id="scrollToTop" onclick="scrollTop()">
		<i class="fa fa-arrow-up-to-line"></i>
	</button>
	<!-- SCROLL TO TOP BUTTON -->

	<!-- jQuery Plugins -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/nouislider.min.js"></script>
	<script src="~/js/jquery.zoom.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/query.js"></script>
	<script src="~/js/site.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/scrollTop.js" asp-append-version="true"></script>

	<script>
		function addCart(id) {
			let q = new QueryData("/cart/addcart");
			q.addParam("id", id);
			q.send("POST");
			console.log("da add id", id);
			Swal.fire({
				position: "top-end",
				icon: "success",
				title: "Add product successfully!",
				showConfirmButton: false,
				timer: 800,
			});
		}
	</script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
